<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

    <!-- Logo CSS -->
    <link href="/css/logo.css" type="text/css" rel="stylesheet">
    <!-- gif CSS -->
    <link href="/css/gif.css" type="text/css" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- add cxsss -->
    <script src="/js/blog.js"></script>
    <link href="/css/blog.css" type="text/css" rel="stylesheet">

    <title>fessBook Blog</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <p class="logo">fess<span class="book">BooK</span></p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/blog">Blog</a>
                <a class="nav-item nav-link view5" href="/random">Random blog</a>
            </div>
        </div>
    </nav>
    <br>

    <form method="POST">
        <textarea id="blog_title" name="blog_title" maxlength="20" value="" placeholder="Blog title..."></textarea><br>

        <textarea id="textareaChars" maxlength="140" rows="5" cols="75" placeholder="Type your blog here..."

            name="textBody"></textarea>
        <span id="chars">140</span> characters remaining

        <br>
        <br>
        <input type="submit" id="submitBtn" value="Show GIFs">

        <div class="gif_form">
            <input type="radio" name="gif" id="minion" required>
            <label for="minion" class="gif_form_label">
                <img class="gif" id="minion_gif">
            </label>

            <input type="radio" name="gif" id="patrick">
            <label for="patrick" class="gif_form_label">
                <img class="gif" id="patrick_gif">
            </label>

            <input type="radio" name="gif" id="popcorn">
            <label for="popcorn" class="gif_form_label">
                <img class="gif" id="popcorn_gif">
            </label>

            <input type="radio" name="gif" id="confused">
            <label for="confused" class="gif_form_label">
                <img class="gif" id="confused_gif">
            </label>

            <input type="radio" name="gif" id="sad">
            <label for="sad" class="gif_form_label">
                <img class="gif" id="sad_gif">
            </label>

            <input type="radio" name="gif" id="angry">
            <label for="angry" class="gif_form_label">
                <img class="gif" id="angry_gif">
            </label>

            <input type="radio" name="gif" id="dancing">
            <label for="dancing" class="gif_form_label">
                <img class="gif" id="dancing_gif">
            </label>

            <input type="radio" name="gif" id="damn">
            <label for="damn" class="gif_form_label">
                <img class="gif" id="damn_gif">
            </label>

            <input type="radio" name="gif" id="birthday">
            <label for="birthday" class="gif_form_label">
                <img class="gif" id="birthday_gif">
            </label>

            <input type="radio" name="gif" id="toast">
            <label for="toast" class="gif_form_label">
                <img class="gif" id="toast_gif">
            </label>

            <input type="radio" name="gif" id="scared">
            <label for="scared" class="gif_form_label">
                <img class="gif" id="scared_gif">
            </label>

            <input type="radio" name="gif" id="homer">
            <label for="homer" class="gif_form_label">
                <img class="gif" id="homer_gif">
            </label>

            <input type="radio" name="gif" id="excited">
            <label for="excited" class="gif_form_label">
                <img class="gif" id="excited_gif">
            </label>


            <input type="radio" name="gif" id="no_gif">
            <label for="no_gif" class="gif_form_label">
                <p>No gif</p>
            </label>
        </div>
        <br>
        <br>
        <input id="submitButton" type="submit" name="submitButton" value="Share">
    </form>


</body>

</html>