<!DOCTYPE html>
<html lang="en">
<!-- This is the page where you post a blog -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../public/js/blog.js"></script>
    <title>fessBook Blog</title>
</head>

<body>

    <form>
        <textarea id="textareaChars" maxlength="140" rows="5" cols="75" placeholder="Type your blog here..."></textarea>
        <span id="chars">140</span> characters remaining
        <input id="submitButton" type="submit" name="submitButton" value="Share">
    </form>

</body>


</html>