.gif_form input[type="radio"] {
   display: none;
}

.gif_form_label {
    cursor: pointer;
}

#no_gif_label{
    border: 4px solid grey;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.5s ease all;

}
#no_gif_label:hover{
    background-color: grey;
    color: white;
    
}


input:checked + .gif_form_label   {
    border: 4px solid  #547AA5;
}

.gif {
    height: 120px;
}