/* CSS for homepage */
div {
    color: black;
}

.post{
    margin: 10px;
    border: 2px solid black;
}

#blogPostContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

