body, html{
    height: 100%;
    color: white;
  
    
}

.background-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('/assets/stars.jfif');
    background-size: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

button {
  
}

p {
    position: absolute;
    font-size: 8px;
    bottom: 0;
    right: 0;
    margin: 0;
}
