/* CSS for view a post page */

.post {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    text-align: center;
}
body{
    background-color: rgb(225, 237, 250);
}
.giphy {
    width: 100%;
}

#commentsContainer{
    border: 2px solid black;
}